<%- include("layout/header") %>
  <div class="hometopbg">
    <h3>The <%= name %> Blockchain Explorer</h3>
    <div class="row">
      <div class="col-md-7">
        <div class="searchhome">
          <div class="hselect">
            <select>
              <option selected>All Filters</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="hinput"><input placeholder=" Search by Address / Txn Hash / Block / Token / Ens" /></div>
          <div class="hsearch">
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
    </div>
    <p>Featured: Build Precise & Reliable Apps with <%= name %> APIs. <a href="/">Learn More!</a></p>
  </div>

  <div class="homearea">

    <div class="cardbox">
      <div class="row">
        <div class="col-md-4">
          <div class="cardinside">
            <div class="row">
              <div class="col-md-1 col-2">
                <img src="/images/ethereum-1.svg" />
              </div>
              <div class="col-md-9 col-10">
                <p>
                  <%= symbol %> PRICE
                </p>
                <p>$1,249.94 @ 0.07371 BTC (-1.31%)</p>
              </div>
            </div>
          </div>
          <div class="cardinside2">
            <div class="row">
              <div class="col-md-1 col-2">
                <img src="/images/icon-8.svg" />
              </div>
              <div class="col-md-9 col-10">
                <p>
                  MARKET CAP
                </p>
                <p>$150,646,362,864.00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 midbox">
          <div class="cardinside">
            <div class="row">
              <div class="col-md-1 col-2">
                <img src="/images/icon-2-1.svg" />
              </div>
              <div class="col-md-6 col-5">
                <p>
                  TRANSACTIONS
                </p>
                <p>1,800.23 M (13.7 TPS)</p>
              </div>
              <div class="col-md-5 col-5">
                <p>
                  MED GAS PRICE
                </p>
                <p>
                  5 Gwei ($0.68)
                </p>
              </div>
            </div>
          </div>
          <div class="cardinside2">
            <div class="row">
              <div class="col-md-1 col-2">
                <img src="/images/icon-51.svg" />
              </div>
              <div class="col-md-6 col-5">
                <p>
                  LAST FINALIZED BLOCK
                </p>
                <p>
                  16126474
                </p>
              </div>
              <div class="col-md-5 col-5">
                <p>
                  LAST SAFE BLOCK
                </p>
                <p>
                  16126474
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 chartarea">
          <p>
            <%= name %> TRANSACTION HISTORY IN 14 DAYS
          </p>
          <div class="row">
            <div class="col-md-2 col-2">
              <br />
              <p>1190K</p><br /><br /><br /><br />
              <p>1190K</p>
            </div>
            <div class="col-md-10 col-10">
              <div id="myChart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 bk61">
        <div class="blockhome">
          <div class="blockheadtitle">
            <p>Latest Blocks</p>
          </div>
          <div class="blockcardhome">

            <div class="blockcard">
              <div class="row">
                <div class="col-md-1 col-0">
                  <h5>Bk</h5>
                </div>
                <div class="col-md-3 col-9">
                  <p><a href="/block/">16133720</a></p>
                  <p><span>14 secs ago</span></p>
                </div>
                <div class="col-md-5 col-8">
                  <P>Fee Recipient <a href="/address/">beaverbuild</a></P>
                  <p><a href="/txs?block=">167 txns</a> <span>in 12 secs</span></p>
                </div>
                <div class="col-md-3 col-4">
                  <p class="ethval">0.05021 Eth</p>
                </div>
              </div>
            </div>
            <div class="blockcard">
              <div class="row">
                <div class="col-md-1 col-0">
                  <h5>Bk</h5>
                </div>
                <div class="col-md-3 col-9">
                  <p><a href="/block/">16133720</a></p>
                  <p><span>14 secs ago</span></p>
                </div>
                <div class="col-md-5 col-8">
                  <P>Fee Recipient <a href="/address/">beaverbuild</a></P>
                  <p><a href="/txs?block=">167 txns</a> <span>in 12 secs</span></p>
                </div>
                <div class="col-md-3 col-4">
                  <p class="ethval">0.05021 Eth</p>
                </div>
              </div>
            </div>
            <div class="blockcard">
              <div class="row">
                <div class="col-md-1 col-0">
                  <h5>Bk</h5>
                </div>
                <div class="col-md-3 col-9">
                  <p><a href="/block/">16133720</a></p>
                  <p><span>14 secs ago</span></p>
                </div>
                <div class="col-md-5 col-8">
                  <P>Fee Recipient <a href="/address/">beaverbuild</a></P>
                  <p><a href="/txs?block=">167 txns</a> <span>in 12 secs</span></p>
                </div>
                <div class="col-md-3 col-4">
                  <p class="ethval">0.05021 Eth</p>
                </div>
              </div>
            </div>
            <div class="blockcard">
              <div class="row">
                <div class="col-md-1 col-0">
                  <h5>Bk</h5>
                </div>
                <div class="col-md-3 col-9">
                  <p><a href="/block/">16133720</a></p>
                  <p><span>14 secs ago</span></p>
                </div>
                <div class="col-md-5 col-8">
                  <P>Fee Recipient <a href="/address/">beaverbuild</a></P>
                  <p><a href="/txs?block=">167 txns</a> <span>in 12 secs</span></p>
                </div>
                <div class="col-md-3 col-4">
                  <p class="ethval">0.05021 Eth</p>
                </div>
              </div>
            </div>
            <div class="blockcard">
              <div class="row">
                <div class="col-md-1 col-0">
                  <h5>Bk</h5>
                </div>
                <div class="col-md-3 col-9">
                  <p><a href="/block/">16133720</a></p>
                  <p><span>14 secs ago</span></p>
                </div>
                <div class="col-md-5 col-8">
                  <P>Fee Recipient <a href="/address/">beaverbuild</a></P>
                  <p><a href="/txs?block=">167 txns</a> <span>in 12 secs</span></p>
                </div>
                <div class="col-md-3 col-4">
                  <p class="ethval">0.05021 Eth</p>
                </div>
              </div>
            </div>
            <div class="blockcard">
              <div class="row">
                <div class="col-md-1 col-0">
                  <h5>Bk</h5>
                </div>
                <div class="col-md-3 col-9">
                  <p><a href="/block/">16133720</a></p>
                  <p><span>14 secs ago</span></p>
                </div>
                <div class="col-md-5 col-8">
                  <P>Fee Recipient <a href="/address/">beaverbuild</a></P>
                  <p><a href="/txs?block=">167 txns</a> <span>in 12 secs</span></p>
                </div>
                <div class="col-md-3 col-4">
                  <p class="ethval">0.05021 Eth</p>
                </div>
              </div>
            </div>

          </div>
          <div class="blockviewbtn">
             <a href="/blocks" class="btn btn-primary shadow-none w-100">View all blocks</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 bk62">
        <div class="blockhome">
          <div class="blockheadtitle">
            <p>Latest Transactions</p>
          </div>

          <div class="blockcardhome">

            <div class="blockcard">
              <div class="row">
                <div class="col-md-1 col-0">
                  <h6>Tx</h6>
                </div>
                <div class="col-md-3 col-12">
                  <p><span class="txword">TX# </span><a href="/tx/">0xcb11e6eeac5dae...</a></p>
                  <p><span class="txsecond">14 secs ago</span></p>
                </div>
                <div class="col-md-5 col-8">
                  <P>From <a href="/address/">0x95222290dd7278aa3dd...</a></P>
                  <p>To <a href="/address/">0x95222290dd7278aa3dd...</a></p>
                </div>
                <div class="col-md-3 col-4">
                  <p class="ethval">0.05021 Eth</p>
                </div>
              </div>
            </div>
            <div class="blockcard">
              <div class="row">
                <div class="col-md-1 col-0">
                  <h6>Tx</h6>
                </div>
                <div class="col-md-3 col-12">
                  <p><span class="txword">TX# </span><a href="/tx/">0xcb11e6eeac5dae...</a></p>
                  <p><span class="txsecond">14 secs ago</span></p>
                </div>
                <div class="col-md-5 col-8">
                  <P>From <a href="/address/">0x95222290dd7278aa3dd...</a></P>
                  <p>To <a href="/address/">0x95222290dd7278aa3dd...</a></p>
                </div>
                <div class="col-md-3 col-4">
                  <p class="ethval">0.05021 Eth</p>
                </div>
              </div>
            </div>
            <div class="blockcard">
              <div class="row">
                <div class="col-md-1 col-0">
                  <h6>Tx</h6>
                </div>
                <div class="col-md-3 col-12">
                  <p><span class="txword">TX# </span><a href="/tx/">0xcb11e6eeac5dae...</a></p>
                  <p><span class="txsecond">14 secs ago</span></p>
                </div>
                <div class="col-md-5 col-8">
                  <P>From <a href="/address/">0x95222290dd7278aa3dd...</a></P>
                  <p>To <a href="/address/">0x95222290dd7278aa3dd...</a></p>
                </div>
                <div class="col-md-3 col-4">
                  <p class="ethval">0.05021 Eth</p>
                </div>
              </div>
            </div>
            <div class="blockcard">
              <div class="row">
                <div class="col-md-1 col-0">
                  <h6>Tx</h6>
                </div>
                <div class="col-md-3 col-12">
                  <p><span class="txword">TX# </span><a href="/tx/">0xcb11e6eeac5dae...</a></p>
                  <p><span class="txsecond">14 secs ago</span></p>
                </div>
                <div class="col-md-5 col-8">
                  <P>From <a href="/address/">0x95222290dd7278aa3dd...</a></P>
                  <p>To <a href="/address/">0x95222290dd7278aa3dd...</a></p>
                </div>
                <div class="col-md-3 col-4">
                  <p class="ethval">0.05021 Eth</p>
                </div>
              </div>
            </div>
            <div class="blockcard">
              <div class="row">
                <div class="col-md-1 col-0">
                  <h6>Tx</h6>
                </div>
                <div class="col-md-3 col-12">
                  <p><span class="txword">TX# </span><a href="/tx/">0xcb11e6eeac5dae...</a></p>
                  <p><span class="txsecond">14 secs ago</span></p>
                </div>
                <div class="col-md-5 col-8">
                  <P>From <a href="/address/">0x95222290dd7278aa3dd...</a></P>
                  <p>To <a href="/address/">0x95222290dd7278aa3dd...</a></p>
                </div>
                <div class="col-md-3 col-4">
                  <p class="ethval">0.05021 Eth</p>
                </div>
              </div>
            </div>
            <div class="blockcard">
              <div class="row">
                <div class="col-md-1 col-0">
                  <h6>Tx</h6>
                </div>
                <div class="col-md-3 col-12">
                  <p><span class="txword">TX# </span><a href="/tx/">0xcb11e6eeac5dae...</a></p>
                  <p><span class="txsecond">14 secs ago</span></p>
                </div>
                <div class="col-md-5 col-8">
                  <P>From <a href="/address/">0x95222290dd7278aa3dd...</a></P>
                  <p>To <a href="/address/">0x95222290dd7278aa3dd...</a></p>
                </div>
                <div class="col-md-3 col-4">
                  <p class="ethval">0.05021 Eth</p>
                </div>
              </div>
            </div>
            <div class="blockcard">
              <div class="row">
                <div class="col-md-1 col-0">
                  <h6>Tx</h6>
                </div>
                <div class="col-md-3 col-12">
                  <p><span class="txword">TX# </span><a href="/tx/">0xcb11e6eeac5dae...</a></p>
                  <p><span class="txsecond">14 secs ago</span></p>
                </div>
                <div class="col-md-5 col-8">
                  <P>From <a href="/address/">0x95222290dd7278aa3dd...</a></P>
                  <p>To <a href="/address/">0x95222290dd7278aa3dd...</a></p>
                </div>
                <div class="col-md-3 col-4">
                  <p class="ethval">0.05021 Eth</p>
                </div>
              </div>
            </div>

            
          </div>

          <div class="blockviewbtn">
            <a href="/txs" class="btn btn-primary shadow-none w-100">View all transactions</a>
          </div>
        </div>
      </div>
    </div>

  </div>

    <script>
      var chart = LightweightCharts.createChart(document.getElementById("myChart"), {

        rightPriceScale: {
          visible: false,
          borderColor: '#ffffff',
        },
        leftPriceScale: {
          visible: false,
          borderColor: '#ffffff',
        },
        layout: {
          backgroundColor: '#ffffff',
          textColor: 'rgb(18, 22, 28)',
        },
        handleScale: {
          pressedMouseMove: false
        },
        grid: {
          horzLines: {
            color: '#ffffff',
            visible: false
          },
          vertLines: {
            color: '#ffffff',
            visible: false
          },
        },
        crosshair: {
          mode: LightweightCharts.CrosshairMode.Normal,
        },
        timeScale: {
          borderColor: '#ffffff',
        },
        handleScroll: {
          vertTouchDrag: false,
        },
      });
      chart.timeScale().fitContent();
      chart.addLineSeries({
        color: 'rgb(18, 22, 28)',
        lineWidth: 1,
        priceLineVisible: false
      }).setData([
        { time: { year: 2018, month: 9, day: 22 }, value: 25.531816900940186 },
        { time: { year: 2018, month: 12, day: 16 }, value: 158 },
        { time: { year: 2018, month: 12, day: 17 }, value: 200 },
        { time: { year: 2018, month: 12, day: 18 }, value: 86.66224375818467 },
        { time: { year: 2019, month: 12, day: 18 }, value: 765 },
        { time: { year: 2020, month: 12, day: 18 }, value: 435 },
      ]);

      this.resizeObserver = new ResizeObserver(entries => {
        if (entries.length === 0 || entries[0].target !== document.getElementById('myChart')) { return; }
        const newRect = entries[0].contentRect;
        chart.applyOptions({ height: newRect.height, width: newRect.width });
      })
      this.resizeObserver.observe(document.getElementById("myChart"));

    </script>

    <%- include("layout/footer") %>